<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body style="text-align: center">
<form action="/register" method="post" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Registration form</legend>
        <div class="pure-control-group">
        <label>
            <input id="user" name="username" type="text" placeholder="Username"/>
        </label>
        </div>
        <div class="pure-control-group">
        <label>
            <input id="pass" name="password" type="password" placeholder="Password"/>
        </label>
        </div>
        <div class="pure-control-group">
        <label>
            <input id="confirm" name="passwordConfirm" type="password" placeholder="Confirm Password"/>
        </label>
        </div>
        <button id="signIn" type="submit" class="pure-button pure-button-primary">Submit!</button>
        <a class="pure-button pure-button-primary" href="http://localhost:8080/login">Log in!</a>
    </fieldset>
</form>
<script>
    const username = document.getElementById('user');
    const password = document.getElementById('pass');
    const confirm = document.getElementById('confirm');

    document.getElementById('signIn').addEventListener('click', (event) => {
        event.preventDefault();
        fetch('http://localhost:8080/register', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username.value,
                password: password.value,
                passwordConfirm: confirm.value
            })
        }).then(processOkResponse)
    });

    function processOkResponse(response = {}) {
        if (response.ok) {
            return response.json();
        }
        throw new Error(`Status not 200 (` + response.status + `)`);
    }
</script>
</body>
</html>