<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Click English!</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1 style="text-align: center">- Welcome to the One-Click English! -</h1>
<main>
    <br>
    <fieldset>
        <legend>Add new word</legend>
        <form>
            <label>English word
                <input id="enWord" type="text" name="enWord" />
            </label>
            <button type="submit">Add!</button>
        </form>
    </fieldset>
    <br>
    <fieldset id="words">
        <legend>My all words</legend>
    </fieldset>
    <a style="text-align: right" href="/logout">Logout</a>
</main>
<script>
    (async function() {
        const enWord = document.getElementById('enWord');
        const main = document.getElementById('words');
        const response = await fetch('/words/list');
        if (response.ok) {
            const words = await response.json();
            const list = document.createElement('ul');
            words.forEach(word => list.appendChild(createWord(word)));
            main.prepend(list);
        }

        const form = document.querySelector('form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const resp = await fetch('/words/add', {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    enWord: enWord.value
                })
            });
            if (resp.ok) {
                const wordFromServer = await resp.json();
                document.querySelector('ul').appendChild(createWord(wordFromServer));
                form.reset();
            }
        });

        function createWord({ enWord, plWord }) {
            const result = document.createElement('li');
            result.innerHTML = `
                <label>
                    ${enWord}  -  ${plWord}
                    <button style="text-align: right" class="btn"><i class="fa fa-trash"></i></button>
                </label>
            `;
            result.querySelector('button').addEventListener('click', async (e) => {
                e.preventDefault();
                const remove = await fetch(`/words/${enWord}`, {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({enWord: enWord.value})
                });
                if (remove.ok) {
                    return document.querySelector('ul').removeChild(result);
                }
            });
            return result;
        }
    })();
</script>
</body>
</html>
